@import url("./../../assets/reset.css");
@import url("./../../libs/font-awesome/css/font-awesome.css");

@import url("./../../assets/css/input_item.css");
@import url("./../../assets/css/button_item.css");
@import url("./../../components/sortTable/sortTable.css");

.buy-num {
    float: none;
    width: 70px;
}