*{
    padding: 0;
    margin:0;
}

a {
    text-decoration: none;
}

body {
            background: url(back_img.jpg) ;
}
div{
    display: block;
}

input {
    text-rendering: auto;
    color: blue;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin-left: 15px;
    font: 13.3333px Arial;
    outline: none;
    border-radius: 7px;
    box-shadow: 7px 5px 13px #888888;
}
p{  
    display: inline-block;
    text-align: center;
    height:  18px;
    line-height: 18px;

}
.content{
    width: 300px;
    height: 280px;
    background-color: #fff;     
    margin: 0 auto;
    position: relative;
    outline: 0;
    top: 100px;
    border-radius: 10px;
}
        
.head_content {
    border-bottom: 1px solid #e9eaec;
    padding: 14px 16px;
    line-height: 1;
    border-radius: 6px;
}
.header-inner {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #1c2438;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form_con {
    padding: 8px;
    font-size: 15px;
    line-height: 0.5;
}

.ivu-form-item {
    margin-bottom: 24px;
    vertical-align: top;
    zoom: 1;
}

.ivu-form-item-content {
    position: relative;
    line-height: 32px;
    font-size: 12px;
}

.ivu-input-group {
    display: table;
    width: 100%;
    border-collapse: separate;
    position: relative;
    font-size: 12px;
    top: 5px;
}
.ivu-input-group-prepend {
    padding: 10px 8px;
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    color: #495060;
    text-align: center;
    background-color: #eee;
    border: 1px solid #dddee1;
    border-radius: 6px;
}

.ivu-icon {
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
}

.ivu-input {
    width: 250px;
    height: 25px;
    text-align: left;
    float: center;
    margin-bottom: -15;
    position: relative;
    z-index: 2;
    
}

.ivu-form-item-error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    margin-top:5px;
    margin-bottom: 5px;
    padding-top: 6px;
    color: #ed3f14;
    margin-left: 15px;
    display: none;

}

.ivu-modal-footer {
    border-top: 0px solid #e9eaec;
    padding: 16px 40px;
    text-align: right;
}
.ivu-btn-text {
    color: #495060;
    background-color: transparent;
    border-color: transparent;
}
.ivu-btn {
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear;
    color: #495060;
    background-color: #f7f7f7;
    border-color: #dddee1;
}
.ivu-btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
    box-shadow: 7px 5px 13px #888888
}

.btn1:hover {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
    box-shadow: 7px 5px 13px #888888;
}