@import url("./../../assets/reset.css");
@import url("./../../libs/font-awesome/css/font-awesome.css");

@import url("./../../assets/css/input_item.css");
@import url("./../../assets/css/button_item.css");
@import url("./../../components/sortTable/sortTable.css");
@import url("./../../components/popUp/popUp.css");
body {
    background: #ccc;
}
.login-form {
    margin: 100px auto;
    padding: 50px 50px 50px 0;
    width: 400px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}
.logo {
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: -20px;
}
.logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #2d8cf0;
}
.logo img{
    width: 80px;
    vertical-align: middle;
}
.logo span {
    font-size: 16px;
    font-weight: bold;
}
.btn {
    margin-left: 50px;
}
p {
    position: absolute;
    margin-top: 35px;
    color: red;
    text-align: left;
    font-size: 12px;
}