* {
    padding: 0;
    margin: 0;

}
li {
    list-style: none;
}
body {
    overflow-y: hidden;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #495060;
    background-color: #fff;
}

.app {
    height: 100%;
    min-width: 992px;
}
.sub-menu {
    background: #363e4f;
}
.sub-menu-item {
    display: block;
    color: #495060;
    font-size: 14px;
    padding-left: 2px; 
    display: none;
}
header {
    min-width: 400px;
    height: 50px;
    background-color: #1c2438;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
}

.logo {
    padding: 0 2em;
    color: #2d8cf0;
}

.inform {
    padding: 0 2em;
}

.inform span {
    margin-right: 1em;
}

.ivu-badge {
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

a {
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    line-height: 1;
    cursor: pointer;
    transition: color .2s ease;
    font-size: 17px;
}
 
 .ivu-badge i {
    display: inline-block;
    width: 19.5px;
    height: 30px;
 }


.main {
    height: calc(100% - 80px);
    display: flex;
}

.aside {
    width: 200px;
    height: 100%;
    background: #495060;
    height: 624px;
    overflow-y: scroll;
}

.ivu-menu {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    color: #495060;
    font-size: 14px;
    position: relative;
    z-index: 900;
}

.account {
    display: flex;
    align-items: center;
}

.ivu-avatar-large.ivu-avatar-icon {
    font-size: 24px;
 }
.ivu-avatar-large {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}

ivu-avatar {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}
.ivu-avatar-large>* {
    line-height: 40px;
}
.ivu-icon {
    display: inline-block;
    font-family: Ionicons;
    width: 20px;
    height: 21px;
    line-height: 1;
}
.fa-user-circle:before {
    content: "\F213";
}

.jiantou {
    float: right;
    position: relative;
    top: 4px;
}
.account p {
    margin-left: 2em;
}

.change-acount {
    position: absolute;
    top: 20px;
    left: 45px;
    background-color: rgba(73,80,96,.8);
    display: none;
}
.jiantou2 {
    display: none !important;
}

.jiantou1 {
    float: right;
}
.menu-item {
    color: rgba(255, 255, 255, 0.7);
    padding: 14px 24px;
    display: block;
    outline: 0;
    list-style: none;
    font-size: 14px;
}

.menu-item:hover {
    color: #fff;
}
.sub-item {
    color: rgba(255, 255, 255, 0.7);
    padding: 14px 24px;
    display: block;
    outline: 0;
    list-style: none;
    font-size: 14px;
}

.selected {
    color: #2d8cf0,
    border-right: 2px solid #2d8cf0;
}

.menu-item i {
    margin-right: 6px;
}

footer {
    height: 30px;
    background-color: #495060;
    color: #fff;
    font-size: 1em;
    line-height: 30px;
    text-align: center;
}

footer span {
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease
}

.main-right {
    width: calc(100% - 200px);
    height: 100%;
    background-color: #f8f8f9;
    padding: 0 10px;
    overflow-y: scroll;
}