.btn {
    outline: none;
    border:0px;
    cursor: pointer;
    padding: 0 20px;
    height: 30px;
    border-radius: 15px;
}
.btn i {
    padding-right: 5px;
}
.btn:hover {
    opacity: 0.8;
}
.blue-btn {
    color: #fff;
    background-color:#2d8cf0;
    border: 1px #2d8cf0 solid;
}
.white-btn {
    color: #000;
    background-color:#fff;
    border: 1px #ccc solid;
}
.white-btn:hover {
    border: 1px #2d8cf0 solid;
    color: #2d8cf0;
}
.orange-btn {
    color: #fff;
    background-color:#f90;
    border: 1px #f90 solid;
}
.red-btn {
    color: #fff;
    background-color:#e13c13;
    border: 1px #e13c13 solid;
}
